apiVersion: apps/v1
kind: Deployment
metadata:
  name: sib-frontend-deploy
  labels:
    app: sib-frontend
  annotations:
spec:
  selector:
    matchLabels:
      app: sib-frontend
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: sib-frontend
    spec:
      containers:
        - name: sib-frontend
          image: meshkat/sib-frontend:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
          resources:
            requests:
              memory: "64Mi"
              cpu: "10m"
            limits:
              memory: "256Mi"
              cpu: "500m"
