apiVersion: apps/v1
kind: Deployment
metadata:
  name: sib-product-service-deploy
  labels:
    app: sib-product-service
  annotations:
spec:
  selector:
    matchLabels:
      app: sib-product-service
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: sib-product-service
    spec:
      containers:
        - name: sib-product-service
          image: meshkat/sib-product-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 3001
          resources:
            requests:
              memory: "64Mi"
              cpu: "10m"
            limits:
              memory: "256Mi"
              cpu: "500m"
