<!DOCTYPE HTML>

<html>
<head>
    <title>sib-frontend</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/static/js/angularJsApp.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container" ng-app="app" ng-controller="jsaLoadCustomers">
    <h1>User: <%=name%></h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>

    <h3>Contracts List:</h3>
    <div id="customerlist" class="row col-md-7 table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>No</th>
                <th>contract Id</th>
                <th>Customer Name</th>
                <th>Rate</th>
            </tr>
            <tr ng-repeat="contract in contracts | orderBy : 'name'" ng-class-even="'info'" ng-class-odd="'success'">
                <td>{{$index + 1 }}</td>
                <td>{{contract.id}}</td>
                <td>{{contract.customer_name}}</td>
                <td>{{contract.rate}}</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
