<!DOCTYPE HTML>

<html>
<head>
    <title>sib-frontend</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="/static/js/angularJsApp.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
<div class="container" ng-app="app" ng-controller="jsaLoadCustomers">
    <h1>User: <%=name%></h1>
    <form action="/logout?_method=DELETE" method="POST">
        <button type="submit">Log Out</button>
    </form>

    <h3>Contracts List:</h3>
    <div id="contractlist" class="row col-md-7 table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>No</th>
                <th>contract Id</th>
                <th>Customer Name</th>
                <th>Rate</th>
                <th>Sub Contract</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="contract in contracts | orderBy : 'name'" ng-class-even="'info'" ng-class-odd="'success'">
                <td>{{$index + 1 }}</td>
                <td>{{contract.product.product_name}}</td>
                <td>{{contract.customer_name}}</td>
                <td>{{contract.rate}}</td>
                <td>{{contract.rateBreakDown}}</td>
                <td><button ng-click="deleteContract(contract)">Delete</button></td>
            </tr>
        </table>
    </div>
    <div class="row col-md-7 table-responsive">

        <h3>New Contract Form :</h3>
        <div class="row col-md-7 table-responsive">
            <form name="form" class="css-form" novalidate>
                CustomerId:
                <input type="text" ng-model="contract.customerId" name="customerId" required /><br />
                Product:
                <select ng-model="contract.product" ng-options="item.product_name for item in productsDetails"></select>
            </form>
        </div>
        <button ng-click="creatContract(contract)">Creat New Contract</button>
    </div>


    <h3>Customer List:</h3>
    <div id="customerlist" class="row col-md-7 table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <th>No</th>
                <th>contract Id</th>
                <th>Customer Name</th>
                <th>Customer email</th>
                <th>Action</th>
            </tr>
            <tr ng-repeat="customer in customers | orderBy : 'name'" ng-class-even="'info'" ng-class-odd="'success'">
                <td>{{$index + 1 }}</td>
                <td>{{customer.id}}</td>
                <td>{{customer.firstName+" "+customer.lastName}} </td>
                <td>{{customer.email}}</td>
                <td><button ng-click="deleteCustomer(customer)">Delete</button></td>
            </tr>
        </table>
    </div>
    <div class="row col-md-7 table-responsive">
    <h3>New Customer Form :</h3>
    <div class="row col-md-7 table-responsive">
        <form name="form" class="css-form" novalidate>
            First Name:
            <input type="text" ng-model="user.firstName" name="uName" required /><br />
            Last Name:
            <input type="text" ng-model="user.lastName" name="uName" required /><br />
            E-mail:
            <input type="email" ng-model="user.email" name="uEmail" required/><br />
            <button ng-click="creatNewCustomer(user)">Add Customer</button> {{creatNewCustomerMessage}}
        </form>
    </div>
    <div class="row col-md-7 table-responsive">


</div>
</body>
</html>
